body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("Images/climber.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}


header {
  background-color: rgba(31, 31, 31, 0.8); /* semi-transparent overlay */
  padding: 1rem;
  
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #2a2a2a;
  padding: 0.5rem;
}

nav a {
  color: #f0f0f0;
  text-decoration: underline;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: rgba(30, 30, 30, .8);
  justify-content:  center top;
  max-width:100%;
  width:75%;
  height: 100%;
  box-sizing: border-box;
  margin:0 auto;
  
}


.game-card {
  background-color: #1e1e1e;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  max-width: 300px;
  text-align: top;
}

.game-card img {
  width: 100%;
  border-radius: 4px;
}

.game-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 75%;
  margin: 0 auto;
}


.card {
    display:flex;
    background-color: #1e1e1e;
    color: white;
    border-radius: 8px;
    padding: 1rem;
    width: 30%;
    min-width: 250px;
    box-sizing: border-box;
    cursor: pointer;
}

p {
    color: white;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .game-card {
    max-width: 90%;
  }
}
