html, body {
  font-family: body;
  margin: 1rem;
  background: transparent !important;
  overflow-x: hidden !important;
}

a{
  font-family: header;
}

@font-face {
  font-family: header; /* set name */
  src: url(fonts/GOUDYSTO.TTF); /* url of the font */
}

@font-face {
  font-family: body; /* set name */
  src: url(fonts/GOUDOS.TTF); /* url of the font */
}

/* Remove background from body */
/* body {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
} */

/* Transparent Fomantic UI components */
.ui.segment,
.ui.card,
.ui.menu {
  background: rgba(255, 255, 255, 0.5) !important;
  height: 100%;
}


.ui.modal,
.ui.modal > .actions{
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.ui.modal > .header{
  font-family: header;
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.ui.modal > .content{
  font-family: body;
  background-color: rgba(255, 255, 255, 0.5) !important;
}
/*
.ui.grid{
  background: rgba(255, 255, 255, 0.25) !important;
}
*/

/* Scrolling background layer */

.scroll-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('images/scrollingBackgroundRiskyPeaks.jpg');
  background-repeat: repeat;
  background-size: contain;
  background-position: top left;
  animation: scrollBackground 60s linear infinite;
  overflow-x: hidden; /* prevents scrollbars */
}

@keyframes scrollBackground {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2000px; /* adjust based on image width */
  }
}

.scroll-bg {
  animation: scrollBackground 60s linear infinite;
}

.ui.header,
.ui.card > .content > a.header{
  font-family: header;
}

header {
  font-family: header;
  background: rgba(20, 20, 20, 0.75);
  padding: 1.2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  letter-spacing: 1px;
}

.title-block {
  text-align: center;
  margin-top: 1rem;
  color: black;
  margin-bottom: 2rem;
}

/* Main title */
.site-title {
  font-size: 2.2rem;
  font-weight: 600;
  color: black;
  margin: 0;
}

/* Team names - grouped with title */
.team-subtitle {
  margin: 0.05rem;
  font-style: oblique;
  font-size: 1.5rem;     /* smaller than title (formatting neatness) */
  color: black;
  font-weight: 600;
  letter-spacing: 0.2px;
}

